@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 45px;
  display: inline-block;
  transition: all 0.2s ease;
  position: relative;
}

.name:hover {
  color: rgb(108, 21, 240);
}

